@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}

.navMenuAni {
    position: absolute;
    top: 13%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navMenuAni a {
    color: #000;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    display: grid;
    width: 140px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenuAni a:hover {
    color: #0DA0A8;
}


/* ---- nav ----*/

.autor {
    margin: 50px;
    font-style: oblique;
    font-weight: bolder;
}

.paragra {
    font-style: italic;
    text-align: center;
}

.nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
}

.subnav {
    position: sticky;
    bottom: 0;
    top: 0px;
}

ul {
    list-style-type: none;
}

.nav {
    background: #F56503;
}

.hero {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F56503;
}

h1 {
    font-size: 4.5em;
    margin: 0 60px;
    text-align: center;
}

.textPower {
    color: #000000;
}

.ft-turma img {
    display: block;
    align-content: center;
    background: #0DA0A8;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 20px;
    padding: 0px 5px;
    border-radius: 10px;
}


/* ---- subnav ----*/

.subnav {
    background: #000000;
    border-bottom: 1px solid #222;
}

.subnav container {
    align-items: baseline;
    display: flex;
    margin: 0 60px;
    padding: 8px 0;
}

.subnav title {
    font-size: 1.25em;
    display: inline-block;
    margin: 0 2px;
    padding: 2px;
}

.doe {
    color: #fff;
}


/* ---- sections ----*/

h2 {
    text-align: center;
}

.sectionOne {
    max-width: 900px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #0DA0A8;
    border-radius: 10px;
    text-align: justify;
}

hr {
    border: 0;
    border-top: 1px solid #000;
}

.sectionTwo {
    max-width: 900px;
    margin: 30px auto;
    padding: 90px 30px;
    background-color: #0DA0A8;
    border-radius: 10px;
    text-align: justify;
}

.sectionThree {
    max-width: 900px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #0DA0A8;
    border-radius: 10px;
    text-align: justify;
}

.doacao {
    /*  display: inline-block;
    position: relative;
    width: 80%;
    height: 200px;*/
}

.doa-pix {
    /* display: block;
    align-content: center;
    background: #0DA0A8;
    margin-block-end: 20px;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 0%;
    left: 30%;
    bottom: 20%;*/
    display: block;
    align-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.text-button {
    position: absolute;
    left: 60%;
    color: black;
    font-size: 20px;
    font-family: "Trebuchet MS";
    width: 200px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.botao01 {
    background: -webkit-linear-gradient(bottom, #000, #000 70%);
    background: -moz-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -o-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: -ms-linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    background: linear-gradient(bottom, #E0E0E0, #F9F9F9 70%);
    border: 1px solid #CCCCCE;
    border-radius: 10px;
    color: #0DA0A8;
    display: flex;
    font-family: "Trebuchet MS";
    font-size: 26px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 5px 60%;
    position: relative;
    left: 5%;
    width: 130px;
    align-items: center;
}

section>h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

section>p {
    line-height: 1.625em;
    margin: 0 auto;
    max-width: 480px;
}

footer {
    position: relative;
    top: 300px;
    margin: 30px;
    padding: 20px;
    background-color: #0DA0A8;
    text-align: center;
}