@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
    font-family: "Montserrat", sans-serif;
}

.navMenuAni {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navMenuAni a {
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 140px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenuAni a:hover {
    color: #0DA0A8;
}

.navMenuAni .dot {
    width: 8px;
    height: 8px;
    background: #0DA0A8;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(28px);
    transform: translateX(28px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navMenuAni a:nth-child(1):hover~.dot {
    -webkit-transform: translateX(65px);
    transform: translateX(65px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenuAni a:nth-child(2):hover~.dot {
    -webkit-transform: translateX(213px);
    transform: translateX(213px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenuAni a:nth-child(3):hover~.dot {
    -webkit-transform: translateX(355px);
    transform: translateX(355px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.navMenuAni a:nth-child(4):hover~.dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}


/* ---- nav ----*/

.nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
}

.subnav {
    position: sticky;
    bottom: 0;
    top: 0px;
}

ul {
    list-style-type: none;
}

.nav {
    background: #F56503;
}

.hero {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F56503;
}

h1 {
    font-size: 4.5em;
    margin: 0 60px;
    text-align: center;
}

.textPower {
    color: #000000;
}

.slider {
    width: 800px;
    height: 500;
    border-radius: 10px;
    overflow: hidden;
    margin: 60px auto;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #000;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

.navigatio-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigatio-auto div {
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigatio-auto nav:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigatio-auto .auto-btn1 {
    background: #000;
}

#radio2:checked~.navigatio-auto .auto-btn2 {
    background: #000;
}

#radio3:checked~.navigatio-auto .auto-btn3 {
    background: #000;
}


/* ---- subnav ----*/

.subnav {
    background: #000000;
    border-bottom: 1px solid #222;
}

.subnav container {
    align-items: baseline;
    display: flex;
    margin: 0 60px;
    padding: 8px 0;
}

.subnav title {
    font-size: 1.25em;
    display: inline-block;
    margin: 0 2px;
    padding: 2px;
}

.doe {
    color: #fff;
}


/* ---- sections ----*/

.sectionOne {
    max-width: 900px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #0DA0A8;
    border-radius: 10px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 1px solid #000;
}

.sectionTwo {
    max-width: 900px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #0DA0A8;
    border-radius: 10px;
    text-align: center;
}

.sectionThree {
    max-width: 900px;
    margin: 60px auto;
    padding: 90px 30px;
    background-color: #0DA0A8;
    border-radius: 10px;
    text-align: center;
}

section>h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

section>p {
    line-height: 1.625em;
    margin: 0 auto;
    max-width: 480px;
}

footer {
    text-align: center;
}